<!DOCTYPE html>
<html lang="en">

<head>
    <title>Customer View Flight</title>
</head>

<body>
    <h1>View My Future Flight</h1>
    {% if posts %}
    <table>
        <th> Ticket Number </th>
		<th> Airline Name </th>
		<th> Flight Number </th>
		<th> Departure Time </th>
		<th> Departure Airport </th>
		<th> Departure City </th>
		<th> Arrival Time </th>
		<th> Arrival Airport </th>
		<th> Arrival City </th>
        <th> Status </th>
        <!-- SELECT `tkt_id`, al_name, flt_num, dep_dnt, dep_apt, A.city, arr_dnt, arr_apt, B.city, stts FROM ticket NATURAL JOIN purchase NATURAL JOIN flight, airport A, airport B WHERE dep_apt = A.apt_name and arr_apt = B.apt_name and dep_dnt > now() and email = %s -->
	{% for line in posts %}
		<tr>
            <td>{{line['tkt_id']}}</td>
			<td>{{line['al_name']}}</td>
			<td>{{line['flt_num']}}</td>
			<td>{{line['dep_dnt']}}</td>
			<td>{{line['dep_apt']}}</td>
			<td>{{line['dep']}}</td>
			<td>{{line['arr_dnt']}}</td>
			<td>{{line['arr_apt']}}</td>
			<td>{{line['arr']}}</td>
            <td>{{line['stts']}}</td>
		</tr>
	{% endfor %}
	</table>
    <a href="/c_cancel">Cancel Flight</a></br>

	{% else %}
	<b> No future flight plans yet! </b></br>
    

	{% endif %}

    <h1></h1> 
    <a href="/c_viewFlight">Go Back</a></br>


    
</body>
</html>