<!DOCTYPE html>
<html lang="en">

<head>
    <title>Customer View Flight</title>
</head>

<body>
    <h1>My Spending</h1> 
    <b>From: {{start_date}} to {{end_date}} </b>
    <br>
    <b>Total spending is {{spend}}  USD </b></br>
    <br>
	{% if spend!=0 %}
	<table>
        <th>Date</th>
		<th>Spending</th>

	{% for line in posts2 %}
		<tr>
            <td>{{line['date']}}</td>
			<td>{{line['total']}}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	</br>


    <a href="/c_trackSpending">Go Back</a></br>
    
</body>
</html>