<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ticket Sold</title>
</head>

<body>
    <h1>Ticket Sold</h1>
    {% if s_date %}
        <b>From {{s_date}} To {{e_date}}</b>
    {% elif is_month == 'on' %}
        <b>Last month</b>
    {% else %}
        <b>Last year</b>
    {% endif %}

    <table border="2" cellspacing="2">

        <th>Month</th>
        <th>Ticket Sold</th>

        {% for line in posts %}
        <tr>
            <td>{{line['month']}}</td>
            <td>{{line['tkt_total']}}</td>
        </tr>
        {% endfor %}

    </table>

    <a href="/s_viewStat">Go back</a>
</body>
</html>